In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rc('font', family='NanumGothicCoding')
sns.set(font='NanumGothicCoding')

In [35]:
rent_index = pd.read_csv("./data/(월) 월세가격지수_연립_다세대.csv")
rent_median = pd.read_csv("./data/(월) 중위월세가격_연립_다세대.csv")
rent_mean = pd.read_csv("./data/(월) 평균월세가격_연립_다세대.csv")
deposit_median = pd.read_csv("./data/(월) 중위월세보증금_연립_다세대.csv")
deposit_mean = pd.read_csv("./data/(월) 평균월세보증금_연립_다세대.csv")

# 1. 분석 주제 및 목적

---

# 2. 가설 설정

# 3. 데이터 출처

---

- **월세/보증금 통계**: [부동산통계정보](https://www.reb.or.kr/r-one/portal/main/indexPage.do)

# 4. 결과

---

In [36]:
rent_median[rent_median['지역.2'].isin(["전국", "수도권", "지방권", "서울", "경기", "부산", "대구", "울산", "광주", "대전", "제주"])][['지역', '2025년 6월']]

     지역  2025년 6월
0    전국       400
1   수도권       480
2   지방권       300
7    서울       550
15   경기       415
24   부산       310
28   대구       355
29   광주       385
30   대전       290
31   울산       330
40   제주       470

In [37]:
rent_mean[rent_mean['지역.2'].isin(["전국", "수도권", "지방권", "서울", "경기", "부산", "대구", "울산", "광주", "대전", "제주"])][['지역', '2025년 6월']]

     지역  2025년 6월
0    전국       482
1   수도권       557
2   지방권       355
7    서울       628
15   경기       517
24   부산       350
28   대구       366
29   광주       398
30   대전       392
31   울산       361
40   제주       563

In [38]:
deposit_median[deposit_median['지역.2'].isin(["전국", "수도권", "지방권", "서울", "경기", "부산", "대구", "울산", "광주", "대전", "제주"])][['지역', '2025년 6월']]

     지역 2025년 6월
0    전국   15,000
1   수도권   22,000
2   지방권    8,000
7    서울   42,000
15   경기   15,000
24   부산   11,000
28   대구   10,000
29   광주    5,000
30   대전    8,000
31   울산   10,000
40   제주    5,400

In [41]:
deposit_mean[deposit_mean['지역.2'].isin(["전국", "수도권", "지방권", "서울", "경기", "부산", "대구", "울산", "광주", "대전", "제주"])][['지역', '2025년 6월']]

     지역 2025년 6월
0    전국   30,895
1   수도권   42,419
2   지방권   11,201
7    서울   60,920
15   경기   29,550
24   부산   14,909
28   대구   11,020
29   광주   13,933
30   대전   12,701
31   울산   13,262
40   제주    6,858

In [43]:
rent_index[deposit_mean['지역.2'].isin(["전국", "수도권", "지방권", "서울", "경기", "부산", "대구", "울산", "광주", "대전", "제주"])]

,No,지역,지역.1,지역.2,2024년 9월,2024년 10월,2024년 11월,2024년 12월,2025년 1월,2025년 2월,2025년 3월,2025년 4월,2025년 5월,2025년 6월
0,1,전국,전국,전국,99.35,99.46,99.53,99.61,99.74,99.86,100.0,100.14,100.31,100.47
1,2,수도권,수도권,수도권,99.09,99.25,99.37,99.49,99.66,99.80,100.0,100.15,100.34,100.55
2,3,지방권,지방권,지방권,100.04,100.02,99.95,99.94,99.97,100.03,100.0,100.11,100.22,100.26
7,8,서울,서울,서울,99.37,99.45,99.54,99.59,99.69,99.82,100.0,100.17,100.46,100.85
15,16,경기,경기,경기,99.18,99.37,99.49,99.60,99.72,99.82,100.0,100.11,100.23,100.27
24,25,부산,부산,부산,100.33,100.23,100.22,100.11,100.10,100.10,100.0,100.07,100.13,100.17
28,29,대구,대구,대구,100.14,99.99,99.85,99.77,99.83,99.84,100.0,99.89,99.96,99.89
29,30,광주,광주,광주,99.43,99.52,99.52,99.75,99.84,99.90,100.0,100.09,100.15,100.27
30,31,대전,대전,대전,98.55,98.73,99.12,99.38,99.62,99.96,100.0,99.95,99.93,99.66
31,32,울산,울산,울산,98.69,98.87,98.91,99.17,99.55,99.74,100.0,100.10,100.28,100.39
40,41,제주,제주,제주,100.91,100.76,100.58,100.45,100.38,100.19,100.0,99.86,99.70,99.48